.comment {
  border-bottom: 0.03rem solid rgba(210, 215, 211, 0.4);
  max-width: 600px;
  display: grid;
  grid-template-columns: calc(3.75rem + 0.5rem) 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
  "heading heading"
  ". content"
  ". carousel"
  ". counts"
  ". reply"
  "hr hr";
  row-gap: 0.8rem;
}

.reply {
  grid-area: reply;
}

.horizontalRule {
  grid-area: hr;
}

.counts {
  display: flex;
  gap: 1rem;
  grid-area: counts;
  align-items: center;
}
