.heading {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: min-content;
  column-gap: 0.5rem;
  align-items: center;
}

.details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  align-items: center;
}

.userDetails {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: min-content;
  align-items: center;
  column-gap: 0.5rem;
  grid-area: userDetails;
}

.discussionDetails {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: min-content;
  column-gap: 0.5rem;
  grid-area: discussionDetails;
}
