.upvoteCount {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  align-items: center;
  column-gap: 0.5rem;
}

.upvoteCountIcon {
  filter:
  brightness(var(--gray-to-pink-brightness-filter))
  invert(var(--gray-to-pink-invert-filter))
  sepia(var(--gray-to-pink-sepia-filter))
  saturate(var(--gray-to-pink-saturate-filter))
  hue-rotate(var(--gray-to-pink-hue-rotate-filter));
}
