.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 1rem;
}

.commentSection {
  margin-left: calc(3.75rem + 0.5rem);
  display: grid;
  row-gap: 1rem;
}

.horizontalRule {
  height: 0.025rem;
  width: 100%;
  background-color: #C0C0C0;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
