.toggler {
  filter: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: rgb(var(--picky-pink-light-rgb));
  border-radius: var(--border-radius);
  font-weight: 600;
  border: none;
}
