.reply {
  max-width: 600px;
  display: grid;
  grid-template-columns: calc(3.75rem + 0.5rem) 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
  "heading heading"
  ". content"
  ". viewsSince"
  ". carousel"
  ". counts";
  row-gap: 0.8rem;
}

.reply:first-child {
  padding-top: 0.5rem;
}

.counts {
  display: flex;
  gap: 1rem;
  grid-area: counts;
  align-items: center;
}

.viewsSince {
  display: flex;
  gap: 0.5rem;
  grid-area: viewsSince;
  align-items: center;
}

.dot {
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background-color: #D1D1D1;
  display: inline-block;
  place-self: center;
  filter: brightness(50%);
}

@media (max-width: 700px) {
  .reply {
    grid-template-areas:
    "heading heading"
    "content content"
    "viewsSince viewsSince"
    "carousel carousel"
    "counts counts";
    border-left: 0.03rem solid rgba(210, 215, 211, 0.4);
    padding-left: 0.8rem;
  }
}


